

.div-footer{
  padding-top: 50px;
 
}

@media screen and(max-width:767px) {
  .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  .footer{
    background-color:#2F303A;
    background-size: contain;
    background-size: cover;
  }



 .div-social{
   margin:0 auto;
 }

.footer-logo{
 align-items:center;
}

.footer-list{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  text-align: center;
}

.footer-item-list{
  list-style: none;
 
 
}

.footer-div-logo{
  text-align: center;
}

.div-logo{
  padding-top:25px;
}
.div-footer{
  display: inline;

}
}

@media screen and(min-width:768px) {
  .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  .footer{
    background-color:#2F303A;
    background-size: contain;
    background-size: cover;
  }

  .div-social{
    margin-left:367px;
  }
}

@media screen and(min-width:1199px) {
    

  .div-social{
    margin-left:767px;
  }
}