.hero {

    text-align: center;
   }
   
   

   @media  screen and (max-width:767px) {
    .heading {
        background-image: url("../../images/background/hero-background-mobile.png");
        background-repeat: no-repeat;
            background-size: cover;
        background-color: #2f303a;
        padding-bottom: 200px;
    padding-left: -15px;
    padding-right:-15px;
       }
    
       .heading-title {
        padding-bottom: 30px;
        padding-top: 200px;
        
        margin:0 auto;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 42px;
        /* or 162% */
        
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        
        color: #FFFFFF;
        max-width:660px;
       }
   }

   @media screen and(min-width:768px) {
    .heading {
        background-image: url("../../images/background/Header img (1).png");
        background-repeat: no-repeat;
            background-size: cover;
        background-color: #2f303a;
        padding-bottom: 50px;
       }
    
       .heading-title {
        padding-bottom: 30px;
        padding-top: 200px;
        
        margin:0 auto;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 42px;
        /* or 162% */
        
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        
        color: #FFFFFF;
        max-width:660px;
       }
   }