


.text{
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1,16;
  
  letter-spacing: 0.01em;
  
  color: #757575;
  padding-top: 10px;
  }
  
  .modal-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1,15;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
  }
  
  .name-work{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;

color: #212121;
  }

  .field-of-activity{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: #757575;
  }